openapi: 3.0.3
info:
  title: Kloka Attendance Platform API
  version: 1.0.0
  description: Full API surface (88 paths, 109 operations) for the Kloka zero-trust workforce attendance platform.
    Generated from the locked API_DESIGN.md. Schemas are typed where the domain is built (clocking, auth)
    and generic objects where the domain is still designed; tighten per-domain as code lands.
  contact:
    name: Kloka Engineering
    email: engineering@kloka.co.za
servers:
- url: https://api.kloka.co.za/api/v1
  description: Production
- url: http://localhost:8080/api/v1
  description: Local
tags:
- name: System
  description: Infrastructure health, metrics, and specification discovery.
- name: Auth
  description: Identity verification, session management, cryptographic device binding, and native app migration.
- name: Tenants
  description: Multi-tenant provisioning and tenant-level metadata.
- name: Sites
  description: Physical location management and geofence definitions.
- name: Workers
  description: Core lifecycle, profile, and onboarding of workforce members.
- name: Worker Devices
  description: Hardware devices bound to a worker (decoupled from the worker profile).
- name: Worker Schedule
  description: Retrieving a specific worker's upcoming shift assignments.
- name: Shifts
  description: Creation and management of shift templates.
- name: Shift Patterns
  description: Recurring scheduling logic.
- name: Assignments
  description: Mapping a specific worker to a specific site and shift.
- name: Clocking
  description: The real-time Zero Trust presence engine. Accepts raw evidence and streams live data.
- name: Attendance
  description: Aggregated, read-only views of daily attendance records.
- name: Adjustments
  description: Manual, supervisor-approved corrections to attendance records.
- name: Exceptions
  description: System-flagged anomalies and their resolution workflows.
- name: Disputes
  description: Worker-initiated disputes against system exceptions or attendance records.
- name: Leave
  description: Statutory leave management (BCEA Chapter 3 compliance).
- name: Risk
  description: Catalogue of risk flags, triggered anomaly events, and custom rule creation.
- name: Trust
  description: Granular breakdown of how a specific clocking event's trust score was calculated.
- name: Payroll Reports
  description: Asynchronous generation and downloading of payroll exports.
- name: Payroll Configuration
  description: Definition of custom payroll fields and mappings to external providers.
- name: Integrations
  description: Third-party system connections and scoped API key management.
- name: Webhooks
  description: Event-driven outbound notifications, subscriptions, and delivery retries.
- name: Audit
  description: Immutable, append-only trail of administrative actions.
- name: Dashboard
  description: High-level, real-time operational statistics.
- name: Analytics
  description: Deep-dive, filterable historical data for reporting.
- name: Platform Configuration
  description: Global or tenant-level defaults for geofencing and QR rotation.
- name: PWA
  description: Client-specific optimizations, offline sync, and localized edge queries.
- name: Notifications
  description: User-facing alerts, push token registration, and POPIA-compliant preferences.
- name: Compliance & DSR
  description: Formal POPIA/PAIA data subject requests and biometric consent management.
paths:
  /health/live:
    get:
      operationId: GetHealthLive
      summary: Liveness probe
      tags:
      - System
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters: []
  /health/ready:
    get:
      operationId: GetHealthReady
      summary: Readiness probe (DB check)
      tags:
      - System
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters: []
  /metrics:
    get:
      operationId: GetMetrics
      summary: Prometheus metrics
      tags:
      - System
      security: []
      responses:
        '200':
          description: Prometheus exposition format
          content:
            text/plain:
              schema:
                type: string
      parameters: []
  /version:
    get:
      operationId: GetVersion
      summary: Version and build info
      tags:
      - System
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters: []
  /openapi.json:
    get:
      operationId: GetOpenAPIJson
      summary: Live OpenAPI spec
      tags:
      - System
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters: []
  /auth/mfa/verify:
    post:
      operationId: PostAuthMFAVerify
      summary: 'Step 2: OTP + session token, returns JWT pair'
      tags:
      - Auth
      security:
      - sessionToken: []
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MFAVerifyRequest'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
  /auth/refresh:
    post:
      operationId: PostAuthRefresh
      summary: Rotate access token
      tags:
      - Auth
      security:
      - refreshCookie: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
  /auth/logout:
    post:
      operationId: PostAuthLogout
      summary: Revoke current session
      tags:
      - Auth
      security:
      - bearerAuth: []
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
  /auth/forgot-password:
    post:
      operationId: PostAuthForgotPassword
      summary: Trigger password reset
      tags:
      - Auth
      security: []
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
  /auth/reset-password:
    post:
      operationId: PostAuthResetPassword
      summary: Execute password reset
      tags:
      - Auth
      security: []
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
  /auth/device-bind:
    post:
      operationId: PostAuthDeviceBind
      summary: Bind new device
      tags:
      - Auth
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceBindRequest'
  /auth/webauthn/register/begin:
    post:
      operationId: PostAuthWebauthnRegisterBegin
      summary: Begin WebAuthn registration
      tags:
      - Auth
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
  /auth/webauthn/register/finish:
    post:
      operationId: PostAuthWebauthnRegisterFinish
      summary: Finish WebAuthn registration
      tags:
      - Auth
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthnRegisterFinishRequest'
  /auth/webauthn/login/begin:
    post:
      operationId: PostAuthWebauthnLoginBegin
      summary: Begin WebAuthn login
      tags:
      - Auth
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthnChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthnLoginBeginRequest'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
  /auth/webauthn/login/finish:
    post:
      operationId: PostAuthWebauthnLoginFinish
      summary: Finish WebAuthn login
      tags:
      - Auth
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthnLoginFinishRequest'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
  /auth/me:
    get:
      operationId: GetAuthMe
      summary: Current user profile
      tags:
      - Auth
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
  /tenants:
    post:
      operationId: PostTenants
      summary: Create a tenant and issue its one-time tenant key
      description: Platform-internal. Provisions a tenant, generates its server-side JWT signing secret
        (never returned), and returns a one-time tenant API key used to scope worker/admin login via the
        X-Tenant-Key header.
      tags:
      - Tenants
      security:
      - platformKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTenantResponse'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
    get:
      operationId: GetTenants
      summary: List accessible tenants
      tags:
      - Tenants
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TenantResponse'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /tenants/{id}:
    get:
      operationId: GetTenantsByID
      summary: Get tenant details
      tags:
      - Tenants
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /sites:
    get:
      operationId: GetSites
      summary: List sites
      tags:
      - Sites
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
    post:
      operationId: PostSites
      summary: Create site with geofence
      tags:
      - Sites
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSiteRequest'
  /sites/{id}:
    get:
      operationId: GetSitesByID
      summary: Get site details
      tags:
      - Sites
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    patch:
      operationId: PatchSitesByID
      summary: Update site
      tags:
      - Sites
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSiteRequest'
    delete:
      operationId: DeleteSitesByID
      summary: Archive site
      tags:
      - Sites
      security:
      - bearerAuth: []
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
  /workers:
    get:
      operationId: GetWorkers
      summary: Search and list workers
      tags:
      - Workers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Worker'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
    post:
      operationId: PostWorkers
      summary: Create worker
      tags:
      - Workers
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkerRequest'
  /workers/bulk:
    post:
      operationId: PostWorkersBulk
      summary: Bulk CSV import (async)
      tags:
      - Workers
      security:
      - bearerAuth: []
      responses:
        '202':
          description: Accepted (async job enqueued)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BulkWorkerImportRequest'
  /workers/{id}:
    get:
      operationId: GetWorkersByID
      summary: Get worker profile
      tags:
      - Workers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    patch:
      operationId: PatchWorkersByID
      summary: Update worker
      tags:
      - Workers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkerRequest'
  /workers/{id}/offboard:
    post:
      operationId: PostWorkersByIDOffboard
      summary: Offboard worker
      tags:
      - Workers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OffboardWorkerRequest'
  /workers/{id}/enroll-face:
    post:
      operationId: PostWorkersByIDEnrollFace
      summary: Trigger face enrollment
      tags:
      - Workers
      security:
      - bearerAuth: []
      responses:
        '202':
          description: Accepted (async job enqueued)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollFaceRequest'
  /workers/{id}/enroll-webauthn:
    post:
      operationId: PostWorkersByIDEnrollWebauthn
      summary: Register WebAuthn credential
      tags:
      - Workers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthnRegisterFinishRequest'
  /workers/{id}/devices:
    get:
      operationId: GetWorkersByIDDevices
      summary: List bound devices
      tags:
      - Worker Devices
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
    post:
      operationId: PostWorkersByIDDevices
      summary: Approve/revoke device
      tags:
      - Worker Devices
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceActionRequest'
  /workers/{id}/schedule:
    get:
      operationId: GetWorkersByIDSchedule
      summary: Get worker schedule
      tags:
      - Worker Schedule
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assignment'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /workers/{id}/attendance:
    get:
      operationId: GetWorkersByIDAttendance
      summary: Worker attendance history
      tags:
      - Attendance
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttendanceRecord'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /shifts:
    get:
      operationId: GetShifts
      summary: List shift templates
      tags:
      - Shifts
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
    post:
      operationId: PostShifts
      summary: Create shift template
      tags:
      - Shifts
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShiftRequest'
  /shifts/{id}:
    get:
      operationId: GetShiftsByID
      summary: Get shift details
      tags:
      - Shifts
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    patch:
      operationId: PatchShiftsByID
      summary: Update shift template
      tags:
      - Shifts
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShiftRequest'
  /shifts/patterns:
    get:
      operationId: GetShiftsPatterns
      summary: List recurring patterns
      tags:
      - Shift Patterns
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShiftPattern'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
    post:
      operationId: PostShiftsPatterns
      summary: Create recurring pattern
      tags:
      - Shift Patterns
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftPattern'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShiftPatternRequest'
  /assignments:
    post:
      operationId: PostAssignments
      summary: Assign worker to site+shift
      tags:
      - Assignments
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssignmentRequest'
    get:
      operationId: GetAssignments
      summary: List assignments
      tags:
      - Assignments
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assignment'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /assignments/{id}:
    delete:
      operationId: DeleteAssignmentsByID
      summary: Remove assignment
      tags:
      - Assignments
      security:
      - bearerAuth: []
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
  /clocking/events:
    post:
      operationId: PostClockingEvents
      summary: Main clock in/out/break
      tags:
      - Clocking
      security:
      - bearerAuth: []
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '201':
          description: Event recorded with trust score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClockingEventResponse'
        '422':
          description: Categorical rejection (forged QR / unbound device at QR-required site)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClockingEventRequest'
      description: 'Proves PRESENCE, not identity (the worker is already authenticated). GPS, QR, facial
        biometric and geofence are EVIDENCE attached to this event and scored by the trust engine — NOT
        pass/fail gates. Per ADR 0005: outside-geofence is recorded, flagged and scored lower (not rejected);
        QR freshness is a score input. Only categorical failures hard-reject: forged QR signature, or
        unbound device at a QR-required site. Server created_at is authoritative; device timestamp is
        evidence only.'
    get:
      operationId: GetClockingEvents
      summary: List clock events
      tags:
      - Clocking
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClockingEventResponse'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /clocking/events/{id}:
    get:
      operationId: GetClockingEventsByID
      summary: Get full event evidence
      tags:
      - Clocking
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClockingEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /clocking/live:
    get:
      operationId: GetClockingLive
      summary: Live attendance board (SSE)
      tags:
      - Clocking
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Server-Sent Events stream of live attendance
          content:
            text/event-stream:
              schema:
                type: string
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      description: SSE stream. Each event is a JSON-encoded attendance update.
  /clocking/qr/validate:
    post:
      operationId: PostClockingQRValidate
      summary: Validate QR code
      tags:
      - Clocking
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QrValidateRequest'
  /attendance:
    get:
      operationId: GetAttendance
      summary: Aggregated attendance
      tags:
      - Attendance
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttendanceRecord'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /attendance/daily:
    get:
      operationId: GetAttendanceDaily
      summary: Daily summary per site
      tags:
      - Attendance
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttendanceDailySummary'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /attendance/adjustments:
    post:
      operationId: PostAttendanceAdjustments
      summary: Manual adjustment
      tags:
      - Adjustments
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adjustment'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdjustmentRequest'
    get:
      operationId: GetAttendanceAdjustments
      summary: List adjustments
      tags:
      - Adjustments
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Adjustment'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /attendance/exceptions:
    get:
      operationId: GetAttendanceExceptions
      summary: List exceptions
      tags:
      - Exceptions
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Exception'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /attendance/exceptions/{id}/resolve:
    post:
      operationId: PostAttendanceExceptionsByIDResolve
      summary: Resolve exception
      tags:
      - Exceptions
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveExceptionRequest'
  /risk/flags:
    get:
      operationId: GetRiskFlags
      summary: Risk flags catalogue
      tags:
      - Risk
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RiskFlag'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /risk/events:
    get:
      operationId: GetRiskEvents
      summary: Risk and anomaly events
      tags:
      - Risk
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RiskEvent'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /risk/rules:
    post:
      operationId: PostRiskRules
      summary: Create custom risk rule
      tags:
      - Risk
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskFlag'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRiskRuleRequest'
  /trust/score/{event_id}:
    get:
      operationId: GetTrustScoreByEventId
      summary: Trust score breakdown
      tags:
      - Trust
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustScore'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /reports/payroll:
    post:
      operationId: PostReportsPayroll
      summary: Generate payroll report (async)
      tags:
      - Payroll Reports
      security:
      - bearerAuth: []
      responses:
        '202':
          description: Accepted (async job enqueued)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayrollReportRequest'
    get:
      operationId: GetReportsPayroll
      summary: List payroll reports
      tags:
      - Payroll Reports
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /reports/payroll/{id}:
    get:
      operationId: GetReportsPayrollByID
      summary: Get report status
      tags:
      - Payroll Reports
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /reports/payroll/{id}/download:
    get:
      operationId: GetReportsPayrollByIDDownload
      summary: Download report
      tags:
      - Payroll Reports
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Report file in the requested format.
          content:
            text/csv:
              schema:
                type: string
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /payroll/fields:
    get:
      operationId: GetPayrollFields
      summary: List custom payroll fields
      tags:
      - Payroll Configuration
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayrollField'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
    post:
      operationId: PostPayrollFields
      summary: Create custom field
      tags:
      - Payroll Configuration
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollField'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayrollFieldRequest'
  /payroll/mappings:
    get:
      operationId: GetPayrollMappings
      summary: Get field mappings
      tags:
      - Payroll Configuration
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollMappings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
    patch:
      operationId: PatchPayrollMappings
      summary: Update field mappings
      tags:
      - Payroll Configuration
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollMappings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayrollMappings'
  /integrations:
    get:
      operationId: GetIntegrations
      summary: List integrations
      tags:
      - Integrations
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /integrations/api-keys:
    post:
      operationId: PostIntegrationsAPIKeys
      summary: Generate API key
      tags:
      - Integrations
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
    get:
      operationId: GetIntegrationsAPIKeys
      summary: List API keys
      tags:
      - Integrations
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeyMasked'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /integrations/api-keys/{id}:
    delete:
      operationId: DeleteIntegrationsAPIKeysByID
      summary: Revoke API key
      tags:
      - Integrations
      security:
      - bearerAuth: []
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
  /webhooks/subscriptions:
    post:
      operationId: PostWebhooksSubscriptions
      summary: Create webhook subscription
      tags:
      - Webhooks
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
    get:
      operationId: GetWebhooksSubscriptions
      summary: List subscriptions
      tags:
      - Webhooks
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSubscription'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /webhooks/events:
    get:
      operationId: GetWebhooksEvents
      summary: Delivery history
      tags:
      - Webhooks
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /webhooks/events/{id}/replay:
    post:
      operationId: PostWebhooksEventsByIDReplay
      summary: Replay failed delivery
      tags:
      - Webhooks
      security:
      - bearerAuth: []
      responses:
        '202':
          description: Accepted (async job enqueued)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDelivery'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
  /audit/log:
    get:
      operationId: GetAuditLog
      summary: Immutable audit trail
      tags:
      - Audit
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEntry'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /dashboard/stats:
    get:
      operationId: GetDashboardStats
      summary: Dashboard statistics
      tags:
      - Dashboard
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStats'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
  /analytics/attendance:
    get:
      operationId: GetAnalyticsAttendance
      summary: Advanced analytics
      tags:
      - Analytics
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttendanceDailySummary'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /config/geofences:
    get:
      operationId: GetConfigGeofences
      summary: Geofence configurations
      tags:
      - Platform Configuration
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeofenceConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
  /config/qr:
    post:
      operationId: PostConfigQR
      summary: QR challenge settings
      tags:
      - Platform Configuration
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeofenceConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QrConfigRequest'
  /pwa/sites/nearby:
    get:
      operationId: GetPWASitesNearby
      summary: Nearby sites (KNN)
      tags:
      - PWA
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NearbySite'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /pwa/qr/challenge:
    get:
      operationId: GetPWAQRChallenge
      summary: Current dynamic QR
      tags:
      - PWA
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
  /pwa/clock:
    post:
      operationId: PostPWAClock
      summary: Simplified clocking
      tags:
      - PWA
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClockingEventResponse'
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created resource.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PwaClockRequest'
  /pwa/sync/batch:
    post:
      operationId: PostPWASyncBatch
      summary: Bulk offline replay
      tags:
      - PWA
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PwaSyncBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PwaSyncBatchRequest'
  /pwa/me/attendance:
    get:
      operationId: GetPWAMeAttendance
      summary: Personal attendance
      tags:
      - PWA
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_cursor
                - has_more
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttendanceRecord'
                  next_cursor:
                    type: string
                    nullable: true
                  limit:
                    type: integer
                    example: 50
                  has_more:
                    type: boolean
                    description: True if more pages exist (next_cursor != null).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
  /auth/worker/login:
    post:
      operationId: PostAuthWorkerLogin
      summary: Worker login (phone + PIN) scoped by tenant key — returns user JWT
      description: Proves IDENTITY only (no QR/face/geofence — those belong to clocking). Requires the
        X-Tenant-Key header to scope the tenant. On success returns a user JWT pair; the access token
        is used as Bearer on all subsequent endpoints. The JWT is signed with the tenant's server-side
        secret and carries tenant_id + role as claims.
      tags:
      - Auth
      security:
      - tenantKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerLoginRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid credentials or tenant key
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '423':
          description: Account locked (rate limit / too many attempts)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
  /auth/admin/login:
    post:
      operationId: PostAuthAdminLogin
      summary: Admin login step 1 (email + password) scoped by tenant key — returns MFA challenge
      tags:
      - Auth
      security:
      - tenantKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLoginRequest'
      responses:
        '200':
          description: MFA challenge issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAChallenge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid credentials or tenant key
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      parameters:
[...]
